<div class="card">
    <div class="card-body">
        <form action="">
            <div class="row">
                <div class="col-lg-6">
                    <label for="txtUserId" class="form-label">Número de Control</label>
                    <input type="text" class="form-control" name="student_id" id="txtUserId">
                </div>
                <div class="col-lg-6">
                    <label for="txtName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="txtName" name="name">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="txtLastname" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="txtLastname" name="lastname">
                </div>
                <div class="col-lg-6">
                    <label for="txtGrade" class="form-label">Grado</label>
                    <input type="number" class="form-control" id="txtGrade" name="grade">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="txtGroup" class="form-label">Grupo</label>
                    <input type="text" class="form-control" id="txtGroup" name="group">
                </div>
                <div class="col-lg-6">
                    <label for="txtAverage" class="form-label">Promedio</label>
                    <input type="number" class="form-control" id="txtAverage" name="average">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-3">
                    <input type="submit" class="btn btn-primary" value="Guardar">
                </div>
            </div>
        </form>
    </div>
</div>